* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  color: white; }

.bodyIndex {
  background-image: url("../images/fondoIndex.jpg");
  background-position: top;
  background-size: cover;
  height: auto; }

header .imgLogo {
  width: 5rem; }

header .nav-item a {
  margin: 1rem;
  color: solid white;
  font-size: 1rem; }

header .navbar-nav {
  text-decoration: none;
  color: solid white;
  font-weight: bold;
  font-size: 1rem; }

header .dropdown-item {
  color: white; }

main {
  margin-top: 13rem; }
  main h1 {
    font-size: 3rem;
    font-weight: bold; }
  main span {
    display: block; }
  main .contenidoMain {
    width: auto;
    transition: .5s ease-in-out;
    text-decoration: none;
    background-color: rgba(7, 115, 81, 0.4);
    margin: 1rem; }
    main .contenidoMain a {
      text-decoration: none; }
    main .contenidoMain:hover {
      transform: scale(1.1); }

footer {
  margin-top: 10rem;
  padding-top: 0.5rem;
  height: auto; }
  footer h3 {
    font-size: 0.8rem;
    margin-top: 0.5rem; }
  footer .redes img {
    width: 2rem;
    margin: 0.8rem; }

@media only screen and (min-width: 768px) {
  main h1 {
    font-size: 5rem;
    font-weight: bold; }
  main .contenidoMain {
    margin: 5rem; }
  footer .redes img {
    width: 2.5rem;
    margin: 1rem; }
  footer h3 {
    font-size: 1rem; } }
