* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  color: white; }
  * span {
    display: block; }

header .imgLogo {
  width: 5rem; }

header .nav-item a {
  margin: 1rem;
  color: solid white;
  font-size: 1rem; }

header .navbar-nav {
  text-decoration: none;
  color: solid white;
  font-weight: bold;
  font-size: 1rem; }

header .dropdown-item {
  color: white; }

/* FOOTER PANTALLA MOBILE*/
footer {
  margin-top: 9rem;
  padding-top: 0.5rem;
  height: auto; }
  footer .redes {
    display: flex;
    justify-content: center; }
    footer .redes img {
      width: 2rem;
      margin: 0.8rem; }
  footer .textoFooter {
    padding-top: 1rem;
    font-size: 1rem;
    text-align: center;
    font-weight: bold; }

/* FOOTER PANTALLA DESKTOP*/
@media only screen and (min-width: 768px) {
  footer .redes img {
    width: 2.5rem;
    margin: 1rem; }
  footer p {
    font-size: 1rem; } }

/*ESTILOS PARA EL FOOTER DE EXPERIENCIAS*/
#footerExperiencias {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 3rem; }

/*ESTILOS DEL INDEX MOBILE*/
#bodyIndex {
  background-image: url("../images/fondoIndex.jpg");
  background-position: top;
  background-size: cover; }

main {
  margin-top: 13rem; }
  main .contenidoMain {
    width: auto;
    transition: .5s ease-in-out;
    text-decoration: none;
    background-color: rgba(7, 115, 81, 0.4);
    margin: 1rem; }
    main .contenidoMain h1 {
      text-align: center;
      font-size: 3rem;
      font-weight: bold; }
    main .contenidoMain a {
      text-decoration: none; }
    main .contenidoMain:hover {
      transform: scale(1.1); }
    main .contenidoMain p {
      font-size: 2rem;
      text-align: center; }

/* ESTILOS INDEX PANTALLA DESKTOP */
@media only screen and (min-width: 768px) {
  main .contenidoMain {
    margin: 5rem; }
    main .contenidoMain h1 {
      font-size: 5rem;
      text-align: center;
      font-weight: bold; }
    main .contenidoMain p {
      font-size: 3.5rem; } }

/* ESTILOS Quienes Somos */
#bodyQuienes {
  background-image: url("../images/caratulaQuienes.jpg");
  background-position: top;
  background-size: cover;
  height: auto; }

.mainSomos {
  margin-top: 8rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: rgba(227, 147, 28, 0.3);
  text-align: center; }
  .mainSomos h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold; }
  .mainSomos p {
    margin-top: 1rem;
    font-size: 1.2rem; }

@media only screen and (min-width: 768px) {
  .mainSomos {
    margin-top: 10rem; }
    .mainSomos h1 {
      font-size: 5rem;
      text-align: center;
      font-weight: bold; }
    .mainSomos p {
      margin-top: 2rem;
      font-size: 1.7rem; } }

.experiencias .opciones h2 {
  padding-top: 2rem;
  font-size: 2.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Roboto", sans-serif; }

/* Estilos experiencias MOBILE */
#bodyExperiencias {
  background-color: #1b1f1e; }

.mainExperiencias {
  background-image: url("../images/fondoProyectos3.jpg");
  background-position: top;
  background-size: cover;
  height: auto;
  margin-top: -10rem; }
  .mainExperiencias h1 {
    padding-top: 5rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold; }
  .mainExperiencias .primerParrafo {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    margin-right: 1.8rem; }
    .mainExperiencias .primerParrafo p {
      padding: 1rem;
      font-size: 1.1rem;
      background-color: rgba(27, 31, 30, 0.5);
      width: 17rem;
      text-align: justify; }

.experiencias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .experiencias .opciones {
    margin: 1rem;
    text-align: center; }
    .experiencias .opciones h2 {
      font-family: "Water Brush", cursive; }
    .experiencias .opciones .descripcion {
      font-size: 1.1rem;
      margin: 1.5rem; }
      .experiencias .opciones .descripcion ul li {
        padding-top: 1rem;
        list-style: none; }
      .experiencias .opciones .descripcion button {
        background-color: #2a302f;
        border: 0.1rem solid white;
        padding: 0.3rem;
        transition: .5s ease-in-out; }
        .experiencias .opciones .descripcion button a {
          font-size: 0.9rem;
          text-decoration: none;
          color: white; }
        .experiencias .opciones .descripcion button:hover {
          transform: scale(1.1); }

/*PANTALLA TABLET EXPERIENCIAS*/
@media only screen and (min-width: 768px) {
  .mainExperiencias h1 {
    font-size: 4.7rem;
    text-align: center;
    font-weight: bold; }
  .mainExperiencias .primerParrafo {
    margin-right: 2rem; }
    .mainExperiencias .primerParrafo p {
      font-size: 1.5rem;
      width: 25rem; }
  .experiencias .opciones h2 {
    font-size: 4rem; }
  .experiencias .opciones .descripcion p {
    font-size: 1.5rem; }
  .experiencias .opciones .descripcion ul li {
    font-size: 1.5rem; }
  .experiencias .opciones .descripcion button {
    padding: 0.5rem; }
    .experiencias .opciones .descripcion button a {
      font-size: 1.2rem; } }

/* PANTALLA  DESKTOP EXPERIENCIAS  */
@media only screen and (min-width: 992px) {
  .mainExperiencias h1 {
    font-size: 5rem;
    text-align: center;
    font-weight: bold; }
  .mainExperiencias .primerParrafo {
    margin-top: 4rem;
    margin-right: 2rem; }
    .mainExperiencias .primerParrafo p {
      font-size: 2.3rem;
      width: 40rem; }
  .experiencias .opciones h2 {
    font-size: 4.5rem; }
  .experiencias .opciones .descripcion {
    margin: 3rem; }
    .experiencias .opciones .descripcion p {
      font-size: 1.7rem; }
    .experiencias .opciones .descripcion ul li {
      font-size: 1.7rem; }
    .experiencias .opciones .descripcion button a {
      font-size: 1.5rem; } }

/* ESTILOS DE CONTACTO MOBILE  */
#bodyContacto {
  background-image: url("../images/fondoContacto.jpg");
  background-position: right;
  background-size: cover;
  height: auto; }

main .tituloContacto {
  margin-top: -4rem; }
  main .tituloContacto h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold; }

main .cuerpoContacto {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  main .cuerpoContacto .parrafoContacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(53, 34, 6, 0.3);
    border-radius: 7%;
    margin-bottom: 4rem; }
    main .cuerpoContacto .parrafoContacto p {
      margin-top: 2rem;
      font-size: 1.1rem;
      text-align: center;
      padding-left: 1rem;
      padding-right: 1rem; }
    main .cuerpoContacto .parrafoContacto .iconos {
      margin-top: 1.5rem; }
      main .cuerpoContacto .parrafoContacto .iconos img {
        width: 3rem;
        margin: 1rem; }
  main .cuerpoContacto .formulario {
    background-color: rgba(53, 34, 6, 0.3);
    padding: 1rem;
    border-radius: 10%; }
    main .cuerpoContacto .formulario legend {
      text-align: center;
      font-family: "Water Brush", cursive;
      font-size: 3rem; }
    main .cuerpoContacto .formulario input {
      color: black; }
    main .cuerpoContacto .formulario .campo {
      font-size: 1rem;
      margin: 1rem;
      color: black;
      display: flex;
      justify-content: space-between; }
      main .cuerpoContacto .formulario .campo #pais {
        color: black; }
      main .cuerpoContacto .formulario .campo .option {
        color: black; }
      main .cuerpoContacto .formulario .campo .campoComentarios {
        display: block;
        height: 15rem;
        width: 22rem;
        padding: -5rem;
        resize: none;
        overflow: auto; }
    main .cuerpoContacto .formulario .botones {
      display: flex;
      justify-content: center; }
      main .cuerpoContacto .formulario .botones input {
        background-color: rgba(53, 34, 6, 0.3);
        width: 8rem;
        color: white; }

/*ESTILOS DE CONTACTO TABLET*/
@media only screen and (min-width: 768px) {
  main .tituloContacto h1 {
    font-size: 4.7rem;
    text-align: center;
    font-weight: bold; }
  main .cuerpoContacto .parrafoContacto p {
    font-size: 1.5rem; }
  main .cuerpoContacto .parrafoContacto .iconos img {
    width: 4.5rem;
    padding-bottom: 2rem; }
  main .cuerpoContacto .formulario {
    width: 35rem; }
    main .cuerpoContacto .formulario .campo {
      text-align: center; }
      main .cuerpoContacto .formulario .campo .campoComentarios {
        display: block;
        margin-left: 2rem;
        height: 15rem;
        width: 28rem;
        padding: -5rem;
        resize: none;
        overflow: auto; } }

/*ESTILOS DE CONTACTO DESKTOP*/
@media only screen and (min-width: 992px) {
  main .tituloContacto h1 {
    font-size: 5rem;
    text-align: center;
    font-weight: bold; }
  main .cuerpoContacto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 0rem;
    margin-right: 1rem; }
    main .cuerpoContacto .parrafoContacto {
      margin-left: 1.5rem;
      margin-top: -2rem;
      width: 30rem; }
      main .cuerpoContacto .parrafoContacto p {
        font-size: 1.7rem; }
      main .cuerpoContacto .parrafoContacto .iconos img {
        width: 5rem;
        padding-bottom: 2rem; }
    main .cuerpoContacto .formulario {
      width: auto;
      margin-left: 3rem; } }
