@mixin flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin flexRow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
@mixin h1mobile{
    text-align: center;
    font-size: $tamanio-h1-mobile;
    font-weight: $negrita-h1;
    font-family: $fuente-terciaria;
    font-family: $fuente-secundaria;
    font-family: $fuente-principal;
}
@mixin h1tablet{
    font-size: $tamanio-h1-tablet;
    text-align: center;
    font-weight: $negrita-h1;
    font-family: $fuente-terciaria;
    font-family: $fuente-secundaria;
    font-family: $fuente-principal;
}
@mixin h1desktop{
    font-size: $tamanio-h1-principal;
    text-align: center;
    font-weight: $negrita-h1;
    font-family: $fuente-terciaria;
    font-family: $fuente-secundaria;
    font-family: $fuente-principal;
}
@mixin tituloCursivaDesktop{
    font-family: $fuente-terciaria;
    font-family: $fuente-secundaria;
    font-family: $fuenteCursiva;
    text-align: center;
    font-size: 4rem;
}

@mixin tituloCursivaTablet{
    font-family: $fuente-terciaria;
    font-family: $fuente-secundaria;
    font-family: $fuenteCursiva;
    text-align: center;
    font-size: 3rem;
}
@mixin tituloCursivaMobile{
    font-family: $fuente-terciaria;
    font-family: $fuente-secundaria;
    font-family: $fuenteCursiva;
    text-align: center;
    font-size: 2rem;
}