// VARIABLES
$color-texto-principal: white;
$fuente-principal: 'Josefin Sans',
sans-serif;
$fuente-secundaria: 'Roboto',
sans-serif;
$margen-top-primario: 13rem;
$tamanio-h1-mobile: 3rem;
$tamanio-h1-tablet: 4.7rem;
$tamanio-h1-principal: 5rem;
$negrita-h1: bold;
$color-con-transparencia-principal:rgba(7, 115, 81, 0.4);
$tamanio-parrafo-mobile: 1.1rem;
$tamanio-parrafo-tablet: 1.5rem;
$tamanio-parrafo-desktop: 1.7rem;

$fuenteCursiva: 'Water Brush', cursive;

