// VARIABLES
$color-texto-principal: white;
$fuente-terciaria: 'Josefin Sans',
sans-serif;
$fuente-secundaria: 'Roboto',
sans-serif;
$fuente-principal: 'Aclonica', sans-serif;
$margen-top-primario: 13rem;
$tamanio-h1-extra-small: 2.2rem;
$tamanio-h1-mobile: 3.5rem;
$tamanio-h1-tablet: 4.7rem;
$tamanio-h1-principal: 5rem;
$negrita-h1: bold;
$color-con-transparencia-principal:rgba(7, 115, 81, 0.4);
$tamanio-parrafo-extra-small: 0.9rem;
$tamanio-parrafo-mobile: 1.1rem;
$tamanio-parrafo-tablet: 1.3rem;
$tamanio-parrafo-desktop: 1.5rem;
$fuenteCursiva: 'Water Brush', cursive;
$fondoSubpaginaBangkok: linear-gradient(90deg, rgba(145,143,140,1) 64%, rgba(191,32,21,0.7035189075630253) 100%);
$fondoSubpaginaSur: linear-gradient(90deg, rgba(145,143,140,1) 64%, rgba(69,182,175,0.8631827731092436) 100%);
$fondoSubpaginaNorte:  linear-gradient(90deg, rgba(145,143,140,1) 64%, rgba(87,44,5,0.8645833333333334) 100%);
$fondoSubpaginaCentro: linear-gradient(90deg, rgba(145,143,140,1) 64%, rgba(5,87,17,0.8099614845938375) 100%);
$fondoSubpaginaGastronomia: linear-gradient(90deg, rgba(145,143,140,1) 64%, rgba(204,98,24,0.8631827731092436) 100%);
$fondoSubpaginaCultura: linear-gradient(90deg, rgba(145,143,140,1) 64%, rgba(159,11,210,0.6166841736694677) 100%);
$fondoSubpaginaTips: linear-gradient(90deg, rgba(145,143,140,1) 64%, rgba(11,26,210,0.6166841736694677) 100%);