// VARIABLES
$color-texto-principal: white;
$fuente-terciaria: 'Josefin Sans',
sans-serif;
$fuente-secundaria: 'Roboto',
sans-serif;
$fuente-principal: 'Aclonica', sans-serif;
$margen-top-primario: 13rem;
$tamanio-h1-mobile: 3.5rem;
$tamanio-h1-tablet: 4.7rem;
$tamanio-h1-principal: 5rem;
$negrita-h1: bold;
$color-con-transparencia-principal:rgba(7, 115, 81, 0.4);
$tamanio-parrafo-mobile: 1.1rem;
$tamanio-parrafo-tablet: 1.3rem;
$tamanio-parrafo-desktop: 1.5rem;
$fuenteCursiva: 'Water Brush', cursive;
$fondoSubpaginaBangkok: linear-gradient(90deg, rgba(181,171,170,1) 60%, rgba(172,25,4,1) 100%);
$fondoSubpaginaSur: linear-gradient(90deg, rgba(170,181,181,1) 60%, rgba(32,196,200,1) 100%);
$fondoSubpaginaNorte:  linear-gradient(90deg, rgba(181,175,170,1) 60%, rgba(162,71,15,1) 100%);
$fondoSubpaginaCentro: linear-gradient(90deg, rgba(181,175,170,1) 60%, rgba(6,62,12,1) 100%);
$fondoSubpaginaGastronomia: linear-gradient(90deg, rgba(181,175,170,1) 60%, rgba(237,90,34,1) 100%);
$fondoSubpaginaCultura: linear-gradient(90deg, rgba(181,175,170,1) 60%, rgba(96,42,121,1) 100%);
$fondoSubpaginaTips: linear-gradient(90deg, rgba(181,175,170,1) 60%, rgba(26,21,191,1) 100%);