/* ESTILOS DE CONTACTO EXTRA SMALL  */
#bodyContacto {
    background-image: url("../images/fondoContacto.jpg");
    background-position: right;
    background-size: cover;
    height: auto;
}

main {
    .tituloContacto {
        margin-top: 2rem;
        h1 {
            @include h1extraSmall;
        }
    }

    .cuerpoContacto {
        margin: 2rem;
        @include flex;

        .parrafoContacto {
            @include flex;
            background-color: rgba(53, 34, 6, 0.3);
            border-radius: 7%;
            margin-bottom: 4rem;

            p {
                margin-top: 2rem;
                font-size: $tamanio-parrafo-extra-small;
                text-align: center;
                padding-left: 1rem;
                padding-right: 1rem;
            }

            .iconos {
                margin-top: 1rem;

                img {
                    width: 2.5rem;
                    margin: 1rem;
                }
            }
        }

        .formulario {
            background-color: rgba(53, 34, 6, 0.3);
            padding: 1rem;
            border-radius: 10%;

            legend {
                text-align: center;
                font-family: $fuenteCursiva;
                font-size: 2.5rem;
            }

            input {
                color: black;
            }

            .campo {
                font-size: 0.8rem;
                margin: 0.5rem;
                color: black;
                display: flex;
                justify-content: space-between;

                #pais {
                    color: black;
                }

                .option {
                    color: black;
                }

                .campoComentarios {
                    display: block;
                    height: 8rem;
                    width: 15rem;
                    padding: -5rem;
                    resize: none;
                    overflow: auto;
                }
            }

            .botones {
                display: flex;
                justify-content: center;

                input {
                    background-color: rgba(53, 34, 6, 0.3);
                    width: 6rem;
                    color: white;
                }
            }
        }

    }
}

/*ESTILOS DE CONTACTO MOBILE*/
@media only screen and (min-width:400px) {
    main {
        .tituloContacto {
            margin-top: -4rem;

            h1 {
                @include h1mobile;
            }
        }

        .cuerpoContacto {
            .parrafoContacto {
                p {   
                    font-size: $tamanio-parrafo-mobile;
                }

                .iconos {
                    margin-top: 1.5rem;

                    img {
                        width: 3rem;
                    }
                }
            }

            .formulario {

                legend {
                    font-size: 3rem;
                }

                .campo {
                    font-size: 1rem;
                    margin: 1rem;

                    .campoComentarios {
                        height: 12rem;
                        width: 20rem;
                    }
                }

                .botones {
                    input {
                        width: 8rem;
                    }
                }
            }

        }
    }

}

/*ESTILOS DE CONTACTO TABLET*/

@media only screen and (min-width:768px) {
    main {
        .tituloContacto {
            h1 {
                @include h1tablet;
            }
        }

        .cuerpoContacto {
            .parrafoContacto {
                p {
                    font-size: $tamanio-parrafo-tablet;
                }

                .iconos {
                    img {
                        width: 4.5rem;
                        padding-bottom: 2rem;
                    }
                }
            }

            .formulario {
                width: 35rem;

                .campo {
                    text-align: center;

                    .campoComentarios {
                        display: block;
                        margin-left: 2rem;
                        height: 12rem;
                        width: 28rem;
                        padding: -5rem;
                        resize: none;
                        overflow: auto;
                    }
                }
            }
        }
    }
}

/*ESTILOS DE CONTACTO DESKTOP*/

@media only screen and (min-width:1024px) {
    main {
        .tituloContacto {
            h1 {
                @include h1desktop;
            }
        }

        .cuerpoContacto {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-left: 0rem;
            margin-right: 1rem;

            .parrafoContacto {
                margin-left: 1.5rem;
                margin-top: -2rem;
                width: 30rem;

                p {

                    font-size: $tamanio-parrafo-desktop;
                }

                .iconos {
                    img {
                        width: 5rem;
                        padding-bottom: 2rem;
                    }
                }
            }

            .formulario {
                width: auto;
                margin-left: 3rem;
            }
        }
    }
}