
  //ESTILOS QUE VOY A EXTENDER EN EL H2 - Ver si después de la entrega del desafío los borro
  %estilosH2{
    padding-top: 2rem;
    font-size: 2.5rem;
   font-family: $fuente-principal;
    font-family: $fuente-secundaria;
}


/* Estilos experiencias */
#bodyExperiencias {
    background-color: rgb(27, 31, 30);
}

.mainExperiencias {
    background-image: url("../images/fondoProyectos3.jpg");
    background-position: top;
    background-size: cover;
    height: auto;
    margin-top: -10rem;

    h1 {
        padding-top: 5rem;
       @include h1mobile;
    }

    .primerParrafo {
        display: flex;
        justify-content: flex-end;
        padding: 1rem;

        p {
            font-size: 1.3rem;
            background-color: rgba(27, 31, 30, 0.5);
            width: 20rem;
            text-align: justify;
        }
    }
}

.experiencias {
   @include flex;

    .opciones {
        margin: 1rem;
        text-align: center;
        
      
        h2 {
           @extend %estilosH2;
           font-family: $fuenteCursiva;
        }

        .descripcion {
            font-size: $tamanio-parrafo-mobile;
           
            ul {
                li {
                    padding-top: 1rem;
                    list-style: none;
                }
            }

            button {
                background-color: map-get($map: $botonesDark, $key: bg-dark);
                border: map-get($map: $botonesDark, $key: border-dark);
                padding: 0.3rem;
                transition: .5s ease-in-out;
                a {
                    font-size: 0.9rem;
                    text-decoration: none;
                    color: white;
                }
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

/* PANTALLA TABLET Y DESKTOP EXPERIENCIAS  */
@media only screen and (min-width:768px) {
    .mainExperiencias {
        h1 {
            @include h1desktop;
        }

        .primerParrafo {
            display: flex;
            justify-content: flex-end;
            margin-top: 4rem;

            p {
                padding-top: 1rem;
                font-size: 2.3rem;
                width: 40rem;
            }
        }
    }

    .experiencias {
        .opciones{
            h2 {
              font-size: 4.5rem;
            }
            .descripcion{
                p {
                    font-size: $tamanio-parrafo-desktop;
                }
        
                ul {
                    li {
                        font-size: $tamanio-parrafo-desktop;
                    }
                }
                button {
                    padding: 0.5rem;
                    a {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}