/* Estilos experiencias */
#bodyExperiencias {
    background-color: rgb(27, 31, 30);
}

/*ESTILOS PANTALLA EXTRA SMALL -400px*/
.mainExperiencias {
    background-image: url("../images/fondoProyectos3.jpg");
    background-position: top;
    background-size: cover;
    height: auto;
    margin-top: -10rem;

    h1 {
        padding-top: 7rem;
        @include h1extraSmall;
    }

    .primerParrafo {
        display: flex;
        justify-content: flex-end;
        padding-left: 1rem;
        margin-right: 1rem;

        p {
            margin-top: -1rem;
            font-size: $tamanio-parrafo-extra-small + 0.1;
            background-color: rgba(27, 31, 30, 0.5);
            width: 17rem;
            text-align: justify;
        }
    }
}

.experiencias {
    @include flex;

    .opciones {
        margin: 1rem;
        text-align: center;

        h2 {
            @extend %estilosH2;
            font-family: $fuenteCursiva;
        }

        .descripcion {
            font-size: $tamanio-parrafo-extra-small + 0.1;
            margin: 1rem;
            text-align: justify;

            button {
                background-color: map-get($map: $botonesDark, $key: bg-dark);
                border: map-get($map: $botonesDark, $key: border-dark);
                padding: 0.3rem;
                transition: .5s ease-in-out;

                a {
                    font-size: 0.8rem;
                    text-decoration: none;
                    color: white;
                }

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

/*PANTALLA MOBILE EXPERIENCIAS*/
@media only screen and (min-width:400px) {
    .mainExperiencias {

        h1 {
            padding-top: 5rem;
            @include h1mobile;
        }

        .primerParrafo {
            padding: 1rem;

            p {
                font-size: $tamanio-parrafo-mobile + 0.1;
            }
        }
    }

    .experiencias {

        .opciones {

            .descripcion {
                font-size: $tamanio-parrafo-mobile;
                margin: 1.5rem;

                button {

                    a {
                        font-size: 1.1rem;
                    }

                }
            }
        }
    }
}

/*PANTALLA TABLET EXPERIENCIAS*/
@media only screen and (min-width:768px) {
    .mainExperiencias {
        h1 {
            @include h1tablet;
        }

        .primerParrafo {
            margin-right: 2rem;

            p {
                font-size: $tamanio-parrafo-tablet;
                width: 25rem;
            }
        }
    }

    .experiencias {
        .opciones {
            h2 {
                font-size: 4rem;
            }

            .descripcion {
                text-align: center;
                p {
                    text-align: justify;
                    font-size: $tamanio-parrafo-tablet;
                }

                ul {
                    li {
                        text-align: justify;
                        font-size: $tamanio-parrafo-tablet;
                    }
                }

                button {
                    padding: 0.5rem;
                  
                    a {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

/* PANTALLA  DESKTOP EXPERIENCIAS  */
@media only screen and (min-width:1024px) {
    .mainExperiencias {
        h1 {
            @include h1desktop;
        }

        .primerParrafo {
            margin-top: 4rem;
            margin-right: 2rem;

            p {
                font-size: 2.3rem;
                width: 40rem;
            }
        }
    }

    .experiencias {
        .opciones {
            h2 {
                font-size: 4.5rem;
            }

            .descripcion {
                margin: 3rem;

                p {
                    font-size: $tamanio-parrafo-desktop;
                }

                ul {
                    li {
                        font-size: $tamanio-parrafo-desktop;
                    }
                }

                button {
                    a {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}