/*ESTILOS DEL INDEX */

#bodyIndex {
    background-image: url("../images/fondoIndex.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
/*ESTILOS INDEX PANTALLA EXTRA SMALL (Hasta 400px)*/
main {
    margin-top: $margen-top-primario;

    .contenidoMain {
        width: auto;
        transition: .5s ease-in-out;
        text-decoration: none;
        background-color: $color-con-transparencia-principal;
        margin: 1rem;

        h1 {
            margin-top: 2rem;
            font-size: $tamanio-h1-extra-small;
        }

        a {
            text-decoration: none;
        }

        &:hover {
            transform: scale(1.1);
        }

        p {
            font-family: $fuente-principal;
            font-size: 1.7rem;
            text-align: center;
            margin-bottom: 1rem;
        }
    }
}


/*ESTILOS INDEX PANTALLA  MOBILE*/
@media only screen and (min-width:400px) {
    main {
        margin-top: $margen-top-primario + 3;

        .contenidoMain {
            h1 {
                margin-top: 5rem;
                @include h1mobile;
            }
            p {
                font-size: 2.2rem;
                margin-bottom: 8rem;
            }
        }
    }
}

/*ESTILOS INDEX PANTALLA TABLET*/
@media only screen and (min-width:768px) {
    main {
        .contenidoMain {
            margin: 3rem;

            h1 {
                @include h1tablet;
            }

            p {
                font-size: 3rem;
            }
        }
    }
}

/* ESTILOS INDEX PANTALLA DESKTOP */
@media only screen and (min-width:1024px) {
    main {
        .contenidoMain {
            margin: 5rem;

            h1 {
                @include h1desktop;
            }

            p {
                font-size: 3.5rem;
            }
        }
    }
}