/* ESTILOS Quienes Somos */
#bodyQuienes {
    background-color: rgb(27, 31, 30);
    height: auto;
}

/*ESTILOS QUIENES SOMOS PANTALLA EXTRASMALL (-400px)*/
.mainSomos {
    .cuerpoQuienes {
        background-image: url("../images/caratulaQuienes.jpg");
        background-position: top;
        background-size: cover;
        text-align: center;
        margin-top: -10rem;

        h1 {
            padding-top: 8rem;
            padding-left: 2rem;
            padding-right: 2rem;
            @include h1extraSmall;
        }

        .textoQuienes {
            padding-bottom: 2rem;

            p {
                background-color: rgba(183, 123, 21, 0.4);
                margin-top: 1rem;
                font-size: $tamanio-parrafo-extra-small;
                margin-left: 1rem;
                margin-right: 1rem;
                padding: 0.5rem;
                font-family: $fuente-principal;
            }
        }
    }

    .nosotros {
        h2 {
            padding-top: 3rem;
            @include tituloCursivaMobile;
            font-size: 3.5rem;
        }

        .cuerpoNosotros {
            @include flex;
            margin: 1rem;
            margin-bottom: -8rem;

            p {
                text-align: justify;
                font-size: $tamanio-parrafo-extra-small;
                padding: 1rem;
                font-family: $fuente-principal;
            }

            img {
                width: 15rem;
                border-radius: 20%;
            }

            padding-bottom: 5rem;
        }
    }
}

/*ESTILOS QUIENES SOMOS PANTALLA MOBILE*/
@media only screen and (min-width:400px) {
    .mainSomos {
        .cuerpoQuienes {
            margin-top: -12rem;

            h1 {
                @include h1mobile;
            }

            .textoQuienes {
                padding-bottom: 5rem;

                p {
                    font-size: $tamanio-parrafo-mobile;
                    margin-left: 1.5rem;
                    margin-right: 1.5rem;
                    padding: 1rem;
                }
            }
        }

        .nosotros {
            h2 {
                padding-top: 4rem;
                font-size: 4rem;
            }

            .cuerpoNosotros {

                p {
                    font-size: $tamanio-parrafo-mobile;
                }

                img {
                    width: 21rem;
                }

                padding-bottom: 7rem;
            }
        }
    }
}

/*ESTILOS QUIENES SOMOS PANTALLA TABLET*/
@media only screen and (min-width:768px) {
    .mainSomos {
        .cuerpoQuienes {
            h1 {
                padding-top: 10rem;
                @include h1tablet;
            }

            .textoQuienes {
                padding-bottom: 5rem;

                p {
                    font-size: $tamanio-parrafo-tablet + 0.2;
                    padding: 1.5rem;
                }
            }
        }

        .nosotros {
            h2 {
                @include tituloCursivaTablet;
                font-size: 5rem;
            }

            .cuerpoNosotros {
                p {
                    font-size: $tamanio-parrafo-tablet + 0.2;
                }

                img {
                    width: 35rem;
                }
            }
        }
    }
}

/*ESTILOS QUIENES SOMOS PANTALLA DESKTOP*/
@media only screen and (min-width:1024px) {
    .mainSomos {
        .cuerpoQuienes {

            h1 {
                padding-top: 10rem;
                @include h1desktop;
            }

            .textoQuienes {
                p {
                    font-size: $tamanio-parrafo-desktop + 0.2;
                    padding: 2rem;
                }
            }
        }

        .nosotros {
            h2 {
                @include tituloCursivaDesktop;
                font-size: 6.5rem;
            }

            .cuerpoNosotros {
                @include flexRow;

                p {
                    font-size: $tamanio-parrafo-desktop ;
                    padding-right: 3rem;
                }

                img {
                    width: 35rem;
                    border-radius: 72% 0% 68% 10% / 61% 10% 54% 10%;
                }
            }
        }
    }
}