#bodyRecorrido {
    background-image: url(../images/fondoRecorrido.jpg);
    background-position: top;
    background-size: cover;
    height: auto;
}

/* PANTALLA  Mobile Recorrido Virtual  */
main {
    h1 {
        @include h1mobile;
        margin-bottom: 2rem;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 8rem 14rem 8rem 14rem;
        grid-gap: 1rem;

        .galleryContainer {
            .galleryItem {
                width: 100%;
                height: 100%;
                position: relative;

                .image {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: 50% 50%;
                        cursor: pointer;
                        transition: .5s ease-in-out;

                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }

                .text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: #fff;
                    pointer-events: none;
                    text-align: center;
                    font-size: 2rem;
                    font-family: $fuenteCursiva;
                    cursor: pointer;
                    z-index: 4;
                    background-color: rgba(27, 31, 30, 0.3);
                    padding-left: 0.7rem;
                    padding-right: 0.7rem;
                }
            }
        }

        .gastronomia {
            grid-column: span 2;

            .galleryItem {
                .text {
                    font-size: 1.7rem;
                }
            }
        }

        .bangkok {
            grid-column: span 5;
            grid-row: span 2;
        }

        .norte {
            grid-column: span 3;
        }

        .centro {
            grid-column: span 3;
            grid-row: span 2;
        }

        .sur {
            grid-column: span 5;
        }

        .cultura {
            grid-column: span 2;
        }

        .tips {
            grid-column: span 2;
        }
    }
}


/* PANTALLA  TABLET Recorrido Virtual  */
@media only screen and (min-width:768px) {
    main {
        h1 {
            @include h1tablet;
        }

        .container {
            .galleryContainer {
                .galleryItem {
                    .text {
                        font-size: 2.7rem;
                    }
                }
            }
        }
    }
}

/* PANTALLA  DESKTOP Recorrido Virtual  */
@media only screen and (min-width:1024px) {
    main {
        h1 {
            @include h1desktop;
        }

        .container {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-auto-rows: 12rem 18rem 12rem 18rem;
            grid-gap: 1rem;

            .galleryContainer {
                .galleryItem {
                    .text {
                        opacity: 0;
                        font-size: 3rem;
                        font-family: $fuenteCursiva;
                        transition: .3s ease-in-out;
                    }

                    &:hover {
                        .text {
                            opacity: 1;
                            animation: move-down .3s linear;
                            width: 100%;
                        }
                    }
                }
            }

            .gastronomia {
                grid-column: span 2;
                grid-row: span 2;
            }

            .bangkok {
                grid-column: span 3;
                grid-row: span 2;
            }

            .cultura {
                grid-column: span 1;
            }

            .tips {
                grid-column: span 1;
            }

            .norte {
                grid-column: span 4;

            }

            .centro {
                grid-column: span 2;
                grid-row: span 2;
            }

            .sur {
                grid-column: span 4;
            }

        }
    }
}