/*ESTILOS PARA LAS SUBPAGINAS DE RECORRIDO VIRTUAL
BANGKOK - NORTE - CENTRO - SUR - GASTRONOMIA - CULTURA - TIPS*/

#bodyBangkok {
    background: $fondoSubpaginaBangkok;
}

#bodySur {
    background: $fondoSubpaginaSur;
}

#bodyNorte {
    background: $fondoSubpaginaNorte;
}

#bodyCentro {
    background: $fondoSubpaginaCentro;
}

#bodyGastronomia {
    background: $fondoSubpaginaGastronomia;
}

#bodyCultura {
    background: $fondoSubpaginaCultura;
}

#bodyTips {
    background: $fondoSubpaginaTips;
}

/*PANTALLA EXTRA SMALL -400px*/
.contenedorSubpagina {
    display: grid;
    height: 100vh;
    grid-template-areas: "asideUno"
        "asideDos"
        "main"
        "footer";

    main {
        grid-area: main;

        h1 {
            @include h1extraSmall;
            margin-top: -4rem;
        }

        .tituloGastronomia {
            h1 {
                font-size: $tamanio-h1-extra-small - 0.5;
            }
        }

        h2 {
            text-align: center;
            font-family: $fuente-principal;
            font-size: 1.4rem;
        }

        section {
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            align-items: center;
            flex-wrap: nowrap;

            h3 {
                @include tituloCursivaExtraSmall;
                margin: 0.5rem;
            }

            article {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 1rem;
               

                .image {
                    img {
                        border-radius: 10%;
                        width: 13rem;
                        height: auto;
                    }
                }

                p {
                    margin: 1rem;
                    font-size: $tamanio-parrafo-extra-small;
                    text-align: justify;

                }

                .textoVestimenta {
                    font-size: $tamanio-parrafo-mobile;

                }
            }
        }
        .siguiente{
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            a{
                text-decoration: none;
            }
            img{
                margin-bottom: 1rem;
                width: 5rem;
            }
            p{
                @include condicion(1);
            }
        }
    }
}
/*PANTALLA MOBILE SUBPÁGINAS RECORRIDO VIRTUAL*/
@media only screen and (min-width:400px) {
    .contenedorSubpagina {
       
        main {

            h1 {
                @include h1mobile;
                margin-top: -10rem;
            }

            .tituloGastronomia {
                h1 {
                    font-size: $tamanio-h1-mobile - 0.6;
                }
            }

            h2 {
                font-size: 1.7rem;
            }

            section {

                h3 {
                    @include tituloCursivaMobile;
                                  }

                article {
                  
                    .image {
                        img {
                            width: 23rem;
                        }
                    }

                    p {
                        font-size: $tamanio-parrafo-mobile;

                    }

                    .textoVestimenta {
                        font-size: $tamanio-parrafo-mobile;

                    }
                }
            }
            .siguiente{
                margin-top: 4rem;
                img{
                    width: 7rem;
                }
                p{
                    @include condicion(2);
                    text-align: center;
                }
            }
        }
    }
}

/* PANTALLA  TABLET SUBPAGINAS RECORRIDO VIRTUAL  */
@media only screen and (min-width:768px) {
    .contenedorSubpagina {
        grid-template-columns: 0.5fr 5fr;
        grid-template-areas: "asideUno main"
            "asideDos main"
            "asideDos footer";

        main {
            h1 {
                margin-top: 2rem;
                @include h1tablet;
            }

            .tituloGastronomia {
                h1 {
                    font-size: $tamanio-h1-tablet - 0.5;
                }
            }

            h2 {
                font-size: 2.5rem;
            }

            section {
                align-items: flex-end;

                h3 {
                    @include tituloCursivaTablet;
                    margin-right: 2rem;
                }

                article {
                    margin: 1rem;

                    .image {
                        margin-right: 1rem;

                        img {
                            border-radius: 20%;
                            width: 25rem;
                            height: auto;
                        }
                    }

                    p {
                        font-size: $tamanio-parrafo-tablet;
                        text-align: justify;
                    }

                    .textoVestimenta {
                        font-size: $tamanio-parrafo-tablet;
                    }
                }
            }

            .sectionDos {
                align-items: flex-start;
                margin-left: 2rem;
            }
            .siguiente{
                display: none;
            }
        }
    }
}


/* PANTALLA  DESKTOP SUBPAGINAS RECORRIDO VIRTUAL  */
@media only screen and (min-width:1200px) {
    .contenedorSubpagina {
        main {
            h1 {
                @include h1desktop;
            }

            .tituloGastronomia {
                h1 {
                    @include h1desktop;
                }
            }

            section {
                align-items: flex-end;

                h3 {
                    @include tituloCursivaDesktop;
                    margin-right: 3rem;
                }

                article {
                    display: flex;
                    flex-direction: row;
                    margin: 2rem;

                    .image {
                        margin-right: 2rem;

                        img {
                            width: 27rem;
                            height: auto;
                        }
                    }

                    p {
                        font-size: $tamanio-parrafo-desktop;
                        text-align: justify;
                    }

                    .textoVestimenta {
                        font-size: $tamanio-parrafo-desktop;
                    }
                }
            }

            .sectionDos {
                align-items: flex-start;

                h3 {
                    margin-left: 3rem;
                }

                article {
                    flex-direction: row-reverse;

                    .image {
                        margin-right: 0rem;
                        margin-left: 2rem;
                    }
                }
            }

        }
    }
}