* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fuente-principal;
    font-family: $fuente-secundaria;
    color: $color-texto-principal;
    span{
        display: block;
        font-family: $fuente-terciaria;
        font-family: $fuente-secundaria;
        font-family: $fuente-principal;
    }

}