/*ASIDE PANTALLA MOBILE*/
aside {
    grid-area: aside;
    background-color: rgb(18, 16, 16);

    display: flex;
    flex-direction: column;


    h2 {
        display: none;
    }

    ul {
        margin-left: 0;
        margin-top: 10rem;
       

        li {
            list-style: none;
            padding-top: 2rem;
            padding-left: 0;
            margin-left: 0;
            margin-right: 1rem;
          

            a {
                text-decoration: none;
                color: white;
                font-family: $fuenteCursiva;
                font-size: 1.5rem;
                
            }
        }
    }

}

/*ASIDE PANTALLA TABLET Y DESKTOP*/
@media only screen and (min-width:768px) {
    aside {

        text-align: center;

        h2 {
            display: block;
            font-family: $fuente-principal;
            margin-top: 10rem;
        }

        ul {
            margin-top: 1rem;

            li {
                a {
                    padding: 1rem;
                    font-size: 2rem;
                }
            }
        }
    }
}