/* FOOTER PANTALLA EXTRA SMALL (-400px)*/
footer {
    padding-top: 8rem;
    height: auto;
    grid-area: footer;

    .redes {
        display: flex;
        justify-content: center;

        img {
            width: 1.8rem;
            margin: 0.8rem;
        }
    }

    .textoFooter {
        padding-top: 1rem;
        text-align: center;
        font-weight: bold;

        p {
            font-size: 0.7rem;
            font-family: $fuente-terciaria;
            font-family: $fuente-secundaria;
            font-family: $fuente-principal;
        }

    }
}

/* FOOTER PANTALLA MOBILE*/
@media only screen and (min-width:400px) {
    footer {

        .textoFooter {
            p {
                font-size: 0.9rem;
            }
        }
    }
}

/* FOOTER PANTALLA TABLET Y DESKTOP*/
@media only screen and (min-width:768px) {
    footer {
        .redes {
            img {
                width: 2.5rem;
                margin: 1rem;
            }
        }

        .textoFooter {
            p {
                font-size: 1.1rem;
            }
        }
    }
}

/*ESTILOS PARA EL FOOTER DE EXPERIENCIAS*/
#footerExperiencias {
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-top: 3rem;
}